<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.xtrastaff.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Utils/TableProtocols/NibLoadable.swift</string>
						<string>Utils/TableProtocols/NibLoadableView.swift</string>
						<string>Utils/TableProtocols/NibOwnerLoadable.swift</string>
						<string>Utils/TableProtocols/Reusable.swift</string>
						<string>Utils/TableProtocols/UITableView+Reusable.swift</string>
						<string>Utils/TableProtocols/UITableViewExtensions.swift</string>
						<string>Utils/AlertController.swift</string>
						<string>Utils/Reachability.swift</string>
						<string>Utils/Utils.swift</string>
						<string>RxNetworking/CustomConstructableRequest.swift</string>
						<string>RxNetworking/HTTPStatusCode.swift</string>
						<string>RxNetworking/RxNetworking.swift</string>
						<string>RxNetworking/RxNetworkResponse.swift</string>
						<string>RxNetworking/RxRouter.swift</string>
						<string>RxExtensions/ActivityIndicator.swift</string>
						<string>RxExtensions/HUD + Rx.swift</string>
						<string>RxExtensions/ViewModel.swift</string>
						<string>BaseClass/WrapperNavViewController.swift</string>
						<string>Managers/WebService.swift</string>
						<string>Themes/Theme.swift</string>
						<string>Helpers/LoginHelper.swift</string>
						<string>BaseClass/WrapperNavController.swift</string>
						<string>Sections/Login/LoginViewController.swift</string>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>BaseClass/WrapperNavController.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseClass/WrapperNavController.swift</string>
			<key>Group</key>
			<array>
				<string>BaseClass</string>
			</array>
		</dict>
		<key>RxExtensions/ActivityIndicator.swift</key>
		<dict>
			<key>Path</key>
			<string>RxExtensions/ActivityIndicator.swift</string>
			<key>Group</key>
			<array>
				<string>RxExtensions</string>
			</array>
		</dict>
		<key>RxNetworking/CustomConstructableRequest.swift</key>
		<dict>
			<key>Path</key>
			<string>RxNetworking/CustomConstructableRequest.swift</string>
			<key>Group</key>
			<array>
				<string>RxNetworking</string>
			</array>
		</dict>
		<key>RxNetworking/HTTPStatusCode.swift</key>
		<dict>
			<key>Path</key>
			<string>RxNetworking/HTTPStatusCode.swift</string>
			<key>Group</key>
			<array>
				<string>RxNetworking</string>
			</array>
		</dict>
		<key>RxNetworking/RxNetworking.swift</key>
		<dict>
			<key>Path</key>
			<string>RxNetworking/RxNetworking.swift</string>
			<key>Group</key>
			<array>
				<string>RxNetworking</string>
			</array>
		</dict>
		<key>RxNetworking/RxNetworkResponse.swift</key>
		<dict>
			<key>Path</key>
			<string>RxNetworking/RxNetworkResponse.swift</string>
			<key>Group</key>
			<array>
				<string>RxNetworking</string>
			</array>
		</dict>
		<key>RxNetworking/RxRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>RxNetworking/RxRouter.swift</string>
			<key>Group</key>
			<array>
				<string>RxNetworking</string>
			</array>
		</dict>
		<key>RxExtensions/ViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>RxExtensions/ViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>RxExtensions</string>
			</array>
		</dict>
		<key>RxExtensions/HUD + Rx.swift</key>
		<dict>
			<key>Path</key>
			<string>RxExtensions/HUD + Rx.swift</string>
			<key>Group</key>
			<array>
				<string>RxExtensions</string>
			</array>
		</dict>
		<key>Sections/Login/LoginViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>Sections/Login/LoginViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Sections</string>
				<string>Login</string>
			</array>
		</dict>
		<key>Helpers/LoginHelper.swift</key>
		<dict>
			<key>Path</key>
			<string>Helpers/LoginHelper.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
			</array>
		</dict>
		<key>Themes/Theme.swift</key>
		<dict>
			<key>Path</key>
			<string>Themes/Theme.swift</string>
			<key>Group</key>
			<array>
				<string>Themes</string>
			</array>
		</dict>
		<key>Utils/AlertController.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/AlertController.swift</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
			</array>
		</dict>
		<key>Utils/Utils.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/Utils.swift</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
			</array>
		</dict>
		<key>Utils/Reachability.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/Reachability.swift</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
			</array>
		</dict>
		<key>Utils/TableProtocols/NibLoadable.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/TableProtocols/NibLoadable.swift</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
				<string>TableProtocols</string>
			</array>
		</dict>
		<key>Utils/TableProtocols/NibLoadableView.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/TableProtocols/NibLoadableView.swift</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
				<string>TableProtocols</string>
			</array>
		</dict>
		<key>Utils/TableProtocols/NibOwnerLoadable.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/TableProtocols/NibOwnerLoadable.swift</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
				<string>TableProtocols</string>
			</array>
		</dict>
		<key>Utils/TableProtocols/Reusable.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/TableProtocols/Reusable.swift</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
				<string>TableProtocols</string>
			</array>
		</dict>
		<key>Utils/TableProtocols/UITableView+Reusable.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/TableProtocols/UITableView+Reusable.swift</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
				<string>TableProtocols</string>
			</array>
		</dict>
		<key>Utils/TableProtocols/UITableViewExtensions.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/TableProtocols/UITableViewExtensions.swift</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
				<string>TableProtocols</string>
			</array>
		</dict>
		<key>Managers/WebService.swift</key>
		<dict>
			<key>Path</key>
			<string>Managers/WebService.swift</string>
			<key>Group</key>
			<array>
				<string>Managers</string>
			</array>
		</dict>
		<key>BaseClass/WrapperNavViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseClass/WrapperNavViewController.swift</string>
			<key>Group</key>
			<array>
				<string>BaseClass</string>
			</array>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
